/* WelcomePage.css */
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  margin-bottom: 20px;
}
.welcome-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  font-family: "Arial", sans-serif;
}

.welcome-card h1,
.welcome-card p,
.welcome-card button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dark-mode {
  background-color: #222;
  color: #fff;
}

.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
}
.dark-mode .welcome-card {
  background-color: #222;
  color: #fff;
  border: 2px solid #fff;
}
.dark-mode .logo {
  color: #fff; /* White text color */
}
.dark-mode .welcome-title {
  color: #fff; /* White text color */
}

.welcome-title {
  font-family: "Arial", sans-serif; /* Use your preferred font family */
  font-size: 28px;
  margin-bottom: 20px;
  color: #333333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.lets-go-button {
  font-family: "Arial", sans-serif; /* Use your preferred font family */
  font-size: 18px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
  align-self: center;
}

.lets-go-button:hover {
  background-color: #45a049;
}

.dark-mode-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dark-mode-toggle i {
  color: rgb(92, 149, 169); /* Color of the icon */
  font-size: 24px; /* Size of the icon */
}

.dark-mode-toggle:hover {
  opacity: 0.8; /* Opacity when hovering */
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Tablet styles */
  .welcome-card {
    padding: 30px;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  /* Mobile styles */
  .welcome-card {
    padding: 20px;
    max-width: 250px;
  }

  .welcome-title {
    font-size: 24px;
  }

  li {
    font-size: 16px;
  }

  .lets-go-button {
    font-size: 16px;
  }
}
